{% extends 'BmonkeyBackendBundle:Base:base.html.twig' %}
{% block body %}

    <div id="wrapper">

                
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {% include 'BmonkeyBackendBundle:include:navbar.html.twig' %}
        </nav>

        <div id="page-wrapper" style="margin: 0 0 0 75px !important;" ng-app="calendarApp">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Calendario</h1>
                </div>
            </div>
            <div class="row">
                <section id="directives-calendar" ng-controller="CalendarCTrl">
                <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources">
                    
                </div> 
                </section>
            </div>
        </div>

    </div>
{% endblock %}